﻿<div class="custom-container mt-4">
    <div class="row">
        <div class="col-md-3">
            <img width="400" src="https://images.prom.ua/3179018911_w640_h640_originalnye-nastennye-chasy.jpg" alt="App Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Ласкаво просимо до BobClock!</h2>
            <p>BobClock - це додаток для красивого та зручного налаштування будильників. Ми докладаємо зусиль, щоб забезпечити вам приємний і ефективний досвід користування.</p>
            <p>Зручно встановлюйте час, обирайте приємний звук і насолоджуйтеся кожним ранком з BobClock!</p>
        </div>
    </div>
</div>