﻿<div class="custom-container mt-4">
    <h2>Будильники</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="alarm">
                <h4>Будильник 1</h4>
                <div class="form-group">
                    <label for="alarm1-time">Час:</label>
                    <input type="time" id="alarm1-time" class="form-control">
                </div>
                <div class="form-group">
                    <label for="alarm1-date">Дата:</label>
                    <input type="date" id="alarm1-date" class="form-control">
                </div>
                <div class="form-check">
                    <input type="checkbox" id="alarm1-toggle" class="form-check-input">
                    <label for="alarm1-toggle" class="form-check-label">Увімкнути</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alarm">
                <h4>Будильник 2</h4>
                <div class="form-group">
                    <label for="alarm2-time">Час:</label>
                    <input type="time" id="alarm2-time" class="form-control">
                </div>
                <div class="form-group">
                    <label for="alarm2-date">Дата:</label>
                    <input type="date" id="alarm2-date" class="form-control">
                </div>
                <div class="form-check">
                    <input type="checkbox" id="alarm2-toggle" class="form-check-input">
                    <label for="alarm2-toggle" class="form-check-label">Увімкнути</label>
                </div>
            </div>
        </div>
    </div>
</div>