﻿<div class="center-container">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        <form asp-action="OnLogin" asp-controller="Home" style="text-align: center;">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter your username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password">
                            </div>
                            <br/>
                            <input type="submit" class="btn btn-primary btn-block" value="Login" />
                            <br/>
                            <a asp-action="Register" asp-controller="Home" class="text-center">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>