﻿<div class="custom-container mt-4">
    <div class="row">
        <div class="col-md-2">
            <img src="https://assets3.thrillist.com/v1/image/2873333/1584x1056/crop;webp=auto;jpeg_quality=60;progressive.jpg" alt="Profile Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Ваш профіль</h2>
            <p>Ласкаво просимо, [Ім'я]!</p>
            <p>Email: your.email@example.com</p>
            <p>Кількість встановлених будильників: 5</p>
            <p>Тут ви можете налаштовувати свій особистий профіль для зручного використання BobClock. Додавайте свої улюблені будильники та налаштовуйте їх під свої потреби.</p>
        </div>
    </div>
</div>